{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Cart Page Container -->
<div class="container mt-5">
  <h2 class="text-center mb-4">🛒 Your Cart</h2>



  <hr class="my-5">

  <!-- Cart Section -->
  <div class="card shadow p-4">
    <h4>Your Selected Items</h4>
    <div id="cartItems"></div>
    <hr>
    <h5>Total: <span id="totalPrice">0.00</span> EGP</h5>
    <button class="btn btn-success" id="checkoutBtn">Checkout</button>
  </div>
</div>

<!-- JS + CSS -->
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
<script src="{% static 'cart/js/cart.js' %}"></script>

{% endblock %}
