{% extends "base.html" %}
{% load static i18n %}
{% block show_navbar %}{% endblock %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="login-box">
  <h2>{% trans "Login" %}</h2>

  <form id="login-form">
    <input type="email" id="email" placeholder="{% trans 'Email' %}" required>
    <input type="password" id="password" placeholder="{% trans 'Password' %}" required>
    <button type="submit">{% trans "Login" %}</button>
  </form>

  <!-- language  -->
  <div class="language-form">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      <!-- redirect back to same page -->
      <input type="hidden" name="next" value="{{ request.path }}">
      <select name="language" onchange="this.form.submit()">
        {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
            {{ lang.1 }}
          </option>
        {% endfor %}
      </select>
    </form>
  </div>

  <p id="response" style="color:red;"></p>

  <p class="signup-text">
    {% trans "Don’t have an account?" %}
    <a href="{% url 'register' %}" class="signup-btn">{% trans "Sign up here" %}</a>
  </p>
</div>

<script src="{% static 'users/js/login.js' %}"></script>
{% endblock %}
